/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.banner {
  background: url('../src/components/images/church.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.banner-text h1 {
  font-size: 4rem;
  font-weight: bold;
}

.banner-text p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-section {
  padding: 50px 0;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2rem;
}

input {
  border-radius: 6px;
}

input::placeholder {
  color: #000;
}

.services {
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url(../src/components/images/notices.jpeg);
  background-attachment: fixed;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;

}

th {
  font-weight: bolder;
  font-size: x-large;
}

td {
  font-size: large;
}

.order a {
  color: #fff;
}

.location h1 {
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.pastors {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../src/components/images/sermon.jpeg);
  background-attachment: fixed;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
}

.pastors-cards {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px;
  width: 100%;
  scroll-snap-type: x mandatory;
}

.pastors-cards .MuiCard-root {
  scroll-snap-align: start;
}

.pastors-cards::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1300px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .pastors-cards {
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: scroll;
    padding: 10px;
  }

  .pastors-cards .MuiCard-root {
    min-width: 40%;
    max-width: 40%;
  }
}

@media (max-width: 600px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .services {
    width: 100%;
    margin: auto;
  }

  .pastors-cards .MuiCard-root {
    min-width: 90%;
    max-width: 90%;
  }


}