/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.banner {
  background: url('../src/components/images/church.jpg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.banner-text h1 {
  font-size: 4rem;
  font-weight: bold;
}

.banner-text p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.about-section {
  padding: 50px 0;
  text-align: center;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-section p {
  font-size: 1.2rem;
}

input{
  border-radius: 6px;
}
input::placeholder{
  color: #000;
}

.services{
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url(../src/components/images/notices.jpeg);
  background-attachment: fixed;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;

}

th{
  font-weight: bolder;
  font-size: x-large;
}
td{
  font-size: large;
}
.order a{
  color: #fff;
}

.location h1{
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.pastors{
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-image: url(../src/components/images/sermon.jpeg);
  background-attachment: fixed;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;

}

@media (max-width: 1300px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 600px) {
  body{
    width: 100%;
    overflow-x: hidden;
  }
  .services{
    width: 100%;
    margin: auto;
  }
}